.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #061f14;
  background-color: #132515;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}
.App button:hover,
.App button:active {
  background-color: #075a51;
  border-color: #02231e;
}

.App button.alternative {
  color: #013110;
  border-color: transparent;
  background-color: transparent;
}

.App button.alternative:hover,
.App button.alternative:active {
  background-color: #156225;
}